<launch>

    <group>
        <remap from="goal" to="angularGoal"/>
        <remap from="currentPosition" to="currentAngular"/>
        <remap from="pidValue" to="angularOutput"/>
        <remap from="rCtrl/P" to="angularP"/>
        <remap from="rCtrl/I" to="angularI"/>
        <remap from="rCtrl/D" to="angularD"/>

        <param name="angularP" type="double" value="0.5"/>
        <param name="angularI" type="double" value="0.0"/>
        <param name="angularD" type="double" value="1.0"/>
        
        <node pkg="balboa_core" name="angularPID" type="PIDController.py" output="screen"/>
    </group>
    
     <group>
        <remap from="goal" to="linearGoal"/>
        <remap from="currentPosition" to="currentLinear"/>
        <remap from="pidValue" to="linearOutput"/>
        <remap from="rCtrl/P" to="linearP"/>
        <remap from="rCtrl/I" to="linearI"/>
        <remap from="rCtrl/D" to="linearD"/>

        <param name="linearP" type="double" value="2.0"/>
        <param name="linearI" type="double" value="0.0"/>
        <param name="linearD" type="double" value="5.0"/>
        
        <node pkg="balboa_core" name="linearPID" type="PIDController.py" output="screen"/>
    </group>

    <node pkg="balboa_core" name="balboa_serial" type="balboa_serial.py" />
    <node pkg="turtlesim" name="turtle_teleop" type="turtle_teleop_key" />
    <node pkg="balboa_core" name="inputConverter" type="converter.py" output="screen"/>
    <node pkg="balboa_core" name="motorSpeedHandler" type="speedConverter.py"/>

</launch>
